{% extends 'layout.html' %}




{% block title %} <!--{{ thing.title }}--> {% endblock %}


{% block content %}

<article>
    <h1>{{step.title}}
    </h1>
    <!--{{thing.description}}-->

    <section>

        <h4>   <a href="{% url 'step1' thing_pk=step.thing_id step_pk=step.id%}">Feed ME!!!</a>
</h4>
        <h5>{{step.description}}</h5>
        <h2>{{step.number_increment}}</h2>
          <div class="card">

        <div class="card-copy">

        </div>

    </section>



</article>




{% endblock %}